<!DOCTYPE html>
<html lang="en">
<head>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Splash&display=swap');
    </style>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>A list of some worldwide mermaids</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h1>Mermaids around the World</h1>
  <ul>
    <% myMerList.forEach(merType => { %>
      <li>
        <%= merType.text %>
        -
        <%= merType.from %>
        
        <%= merType.known ? 'yes' : 'no' %>
      </li>
    <% }) %> 
  </ul>
  <a href="/home">
    <button class="button" id="back">Back
    </button>
  </a>
</body>
</html>